.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background: black;
  width: 80px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 9px 0;
  border: 1px;
  margin: 30px auto;
  width: 180px;
}
.loginbtn:hover {
  color: black;
  background: grey;
}
@media (max-width: 600px) {
  .loginbtn {
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
  }
}
.signUpbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background: black;
  width: 80px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 9px 0;
  border: 1px;
  margin: 30px auto;
  width: 180px;
}
.signUpbtn:hover {
  color: black;
  background: grey;
}
@media (max-width: 600px) {
  .signUpbtn {
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background: white;
  height: 100%;
  background-image: url("../img/main.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: -10%;
}
@media (max-width: 1070px) {
  .container {
    background-position-y: 100%;
  }
}
@media (max-width: 600px) {
  .container {
    background-position-y: 100%;
    background-size: 200%;
  }
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.navigation {
  background: #cfcfcf;
  background-size: 100%;
}
.navigation .nav {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
}
@media (max-width: 1070px) {
  .navigation .nav {
    margin: 0 10px;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 600px) {
  .navigation .nav {
    flex-direction: column;
    margin: 0;
    padding: 0 0 10px 0;
  }
}
.navigation .nav h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px black;
}
.navigation .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  .navigation .nav .menu {
    flex-direction: column-reverse;
  }
}
.navigation .nav .menu nav a {
  font-size: 1.9rem;
  padding-right: 10px;
  color: white;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 1070px) {
  .navigation .nav .menu nav a {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .navigation .nav .menu nav a {
    flex-direction: row;
    padding: 0px;
    font-size: 1.6rem;
  }
}
.navigation .nav .menu .menuIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 1070px) {
  .navigation .nav .menu .menuIcon {
    padding-buttom: 5px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cfcfcf;
  background-size: 100%;
  padding: 30px 10px;
  margin-top: 5px;
}
.home .top .arrow {
  height: 5%;
  width: 5%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .home .top .arrow {
    height: 20%;
    width: 20%;
    padding-bottom: 0px;
  }
}
.home .top .intro {
  height: 440px;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.home .top .intro h1 {
  padding: 0;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.home .top .intro p {
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.home .top .intro a {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 60px;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 600px) {
  .home .top .intro a {
    padding-top: 20px;
  }
}
.home .main .bag {
  width: 40%;
  height: 40%;
  margin: auto;
}
.home .main .kids {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.home .main .book {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.home .main .signup {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.home .main .light {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #cfcfcf;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 20px;
}
.home .main .light p {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.home .main .dark {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #aaaaaa;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 20px;
}
.home .main .dark p {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.team .top .intro {
  background: #aaaaaa;
  border-radius: 10px;
  padding: 30px 10px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.team .top .intro h1 {
  padding-bottom: 20px;
}
.team .main .profileImg {
  width: 20%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}
.team .main .info {
  padding: 20px;
}
.team .main p {
  padding: 0 30px;
}
.team .main .light {
  display: flex;
  background: #cfcfcf;
  border-radius: 10px;
  padding: 30px 10px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .team .main .light {
    display: flex;
    flex-direction: column;
  }
}
.team .main .dark {
  display: flex;
  background: #aaaaaa;
  border-radius: 10px;
  padding: 30px 10px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
