.home {
  height: 100%;
  width: 100%;
  background-image: url("../img/main.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;

  .top {
    //img
    .arrow {
      height: 5%;
      width: 5%;
      display: flex;
      margin: 0 auto;
      //   padding-top: -30px;
        padding-bottom: 20px;
    }

    .intro {
      height: 440px;
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      .width(600px);

      h1 {
        padding: 0;
        text-align: center;
        text-shadow: 2px 2px 4px black;
      }
      p {
        text-align: center;
        text-shadow: 2px 2px 4px black;
      }
      a {
        font-weight: bold;
        font-size: 4rem;
        .center();
        color: white;
        padding-top: 60px;
        text-shadow: 2px 2px 4px black;
      }
    }
  }
  .main {
    // main body images

    .bag {
      width: 40%;
      height: 40%;
      margin: auto;
    }
    .kids {
      width: 50%;
      height: 50%;
      margin: 0 auto;
    }
    .book {
      width: 50%;
      height: 50%;
      margin: 0 auto;
    }
    .signup {
      width: 50%;
      height: 50%;
      margin: 0 auto;
    }

    .light {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: rgb(207, 207, 207);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      p {
        .width(600px);
        text-align: center;
      }
    }
    .dark {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: rgb(170, 170, 170);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      p {
        .width(600px);
        text-align: center;
      }
    }
  }
}
