.home {
  height: 100%;
  width: 100%;
  background-image: url("../img/head.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;

  .top {
    //img
    .head {
      .width();
      border-radius: 10px;
      width: 90%;
      display: flex;
      margin: auto;
      margin-top: 20px;
      @media @phone {
        width: 80%;
      }
    }
    .intro {
      height: 460px;
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      .width();

      h1 {
        padding: 0;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .loginbtn {
        .center();
        .btn(black, white);
        text-align: center;
      }
    }
  }
  .main {
    .light {
      background: rgb(207, 207, 207);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      p{
        .width();
      }
    }
    .dark {
      background: rgb(170, 170, 170);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
      p{
        .width();
      }
    }
  }
}
