.navigation {
  background: rgb(207, 207, 207);
  background-size: 100%;
  .nav {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 20%;
    margin-right: 20%;

    width: auto;
    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    nav {
      a {
        font-size: 1.6rem;
        padding-right: 20px;
        color: black;
      }
    }
  }
}
