// team homepage
.team {
    height:100%;
    width: 100%;
    background-image: url("../img/head.jpg");
    background-size:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
  .top {
    .intro {
      background: rgb(170, 170, 170);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;

      h1 {
        padding-bottom: 20px;
      }
    }
  }
  .main {
    .profileImg {
     width:20%;
     height:20%;
     display: flex;
     flex-wrap: wrap;
    }
    p{
       padding: 0 30px; 
    }
    .light {
    display: flex;
      background: rgb(207, 207, 207);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
    }
    .dark {
        display: flex;
      background: rgb(170, 170, 170);
      border-radius: 10px;
      padding: 30px 10px;
      margin-top: 20px;
    }
  }
}
