// Varibles

.learnbtn{
  .center();
  .btn(black, white);
  font-size: 1.9rem;
  margin: 30px auto;
  width: 180px;
  height:60px;
}


.loginbtn {
    .center();
    .btn(black, white);
    
    margin: 30px auto;
    width: 180px;
  }
  .signUpbtn {
    .center();
    .btn(black, white);
    margin: 30px auto;
    width: 180px;
  }

// Mobile var

@mobile: ~"(max-width: 1070px)";
@phone: ~"(max-width: 600px)";